* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Anchor Reset */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

/* Lists Reset */
li {
  list-style-type: none;
}

/* Smooth Scroll  */
html {
  scroll-behavior: smooth;
}

/* Text Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Form and fonts Reset*/
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Table Reset */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG Reset*/
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;

  background-color: var(--main-bg-color);

  --main-bg-color: #ecbe13;
  --main-text-color: #fff;
  --secondary-text-color: #999999;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid white;
  padding: 1em 2em;
  margin-bottom: 10px;
  font-size: 1em;
  border-radius: 15px;
  background-color: white;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

button,
input[type="submit"] {
  background: black;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1.7rem;
  border-radius: 20px;
  margin: 0 auto;
  width: 14rem;
  margin-top: 2rem;
  cursor: pointer;
}

button {
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

input:disabled {
  opacity: 0.4;
}
