.tittle {
  font-size: 6rem;
  padding-top: 9rem;
}

.subtittle {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.form {
  padding-top: 3rem;
  max-width: 400px;
  margin: 0 auto;
}

.form__name {
  text-align: left;
  font-size: 1.6rem;
  margin: 1em 0 1em 0;
}

.signin {
  padding: 2rem;
  font-size: 1.5rem;
}
