.navbar {
  min-height: 6rem;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-right: 7rem;
  padding-left: 7rem;
}

.welcome {
  padding: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 450px) {
  .navbar {
    max-height: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .welcome {
    font-size: 1rem;
    text-align: left;
    max-width: 220px;
  }
}
